<nav class="nav">
	<div class="menunoticia">
<!-- 		debes estar logeado -->
			<form class="listarnoticia" data-ng-show="userloged.visible" data-ng-submit="hc.funciones.goUsernewslist()">
				<input class="submitbutton" type="submit" value="listar mis noticias">
			</form>
			<form class="listarcomentarios" data-ng-show="userloged.visible" data-ng-submit="hc.funciones.goUsercommentslist()">
				<input class="submitbutton" type="submit" value="listar mis comentarios">
			</form>
			<form class="enviarnoticia" data-ng-show="userloged.visible" data-ng-submit="hc.funciones.goUsersendnews()">
				<input class="submitbutton" type="submit" value="enviar noticia">
			</form>
<!-- 		fin debe estar logueado -->
		<div class="newsselected">{{hc.userconf.category.toUpperCase()}}</div>
	</div>
	<div class="navnewstype">
		<form class="filtrarnewstype" data-ng-submit="hc.funciones.filtrarnoticias()">
			<select class="newstypefiltro" data-ng-model="hc.userconf.filtro">
				<option value="fecha">fecha</option>
				<option value="meneos">meneos</option>
			</select>
			<input class="filtrarnewstypebutton" type="submit" value="filtrar">
		</form>
		<form class="newstype" data-ng-submit="hc.funciones.seleccionarCategory('todas')">
<!-- 			<input type="hidden" name="userconf.category" data-ng-value="todas"> -->
			<input class="todassubmit" type="submit" value="Todas">
		</form>
		<form class="newstype" data-ng-submit="hc.funciones.seleccionarCategory('actualidad')">
<!-- 			<input type="hidden" name="hc.userconf.category" data-ng-value="actualidad"> -->
			<input class="actualidadsubmit" type="submit" value="Actualidad">
		</form>
		<form class="newstype" data-ng-submit="hc.funciones.seleccionarCategory('ocio')">
<!-- 			<input type="hidden" name="category" value="ocio"> -->
			<input class="ociosubmit" type="submit" value="Ocio">
		</form>
		<form class="newstype" data-ng-submit="hc.funciones.seleccionarCategory('cultura')">
<!-- 			<input type="hidden" name="category" value="cultura"> -->
			<input class="culturasubmit" type="submit" value="Cultura">
		</form>
		<form class="newstype" data-ng-submit="hc.funciones.seleccionarCategory('deporte')">
<!-- 			<input type="hidden" name="category" value="deporte"> -->
			<input class="deportessubmit" type="submit" value="Deportes">
		</form>
		<form class="newstype" data-ng-submit="hc.funciones.seleccionarCategory('tecnologia')">
<!-- 			<input type="hidden" name="category" value="tecnologia"> -->
			<input class="tecnologiasubmit" type="submit" value="Tecnología">
		</form>
	</div>
</nav>
<main class="centralsection">
<div class="leftsection">
<!-- 	LEFT SECTION -->
		<div class="noticia" data-ng-repeat="notice in hc.mainnewslist">
			<div class="noticiameneo">
				<div class="meneonumeromeneos">{{notice.listitem.hits}} meneos</div>
				<form class="meneomenear" data-ng-submit="hc.funciones.menearnoticia(notice.listitem)">
					<input class="submitbutton" type="submit" value="menear">
				</form>
			</div>
			<div class="noticiainfo">
				<a class="noticiatitle" href="{{notice.listitem.url}}">{{notice.listitem.title}}</a>
				<div class="noticiauser">Usuario {{notice.usernews}}</div>
				<div class="noticiatext">{{notice.listitem.text}}</div>
				<div class="noticiadetails">
					<a class="noticiadetailsnumerocomentario"
						data-ng-href="#/noticia/{{notice.listitem.id}}">comentarios:
						{{notice.commentscount}}</a>
					<div class="noticiadetailskarma">karma: {{notice.listitem.likes}}</div>
 					<div class="noticiafecha">date: {{notice.listitem.dateStamp}}
 						{{notice.listitem.timeStamp}}</div>
				</div>
			</div>
		</div>
	<div class="pagination">
		<form class="firstform" data-ng-submit="hc.funciones.seleccionarPagina(0)">
			<input class="first" type="submit" value="primera">
		</form>
		<form class="prevform" data-ng-submit="hc.funciones.seleccionarPagina(hc.userconf.actualpage-1)">
			<input class="prev" type="submit" value="anterior">
		</form>
		<div class="actual">{{hc.userconf.actualpage+1}}</div>
		<form class="nextform" data-ng-submit="hc.funciones.seleccionarPagina(hc.userconf.actualpage+1)">
			<input class="next" type="submit" value="siguiente">
		</form>
	</div>
</div>
<aside class="aside">
<!-- 	ASIDE -->
	<div class="noticiasmasvotadas">
		MÁS MENEADAS		
			<div class="noticiamini" data-ng-repeat="noticehitted in hc.newsmosthitted">
				<div class="noticiamininummeneos">{{noticehitted.hits}}</div>
				<a class="noticiaminititulo" data-ng-href="#/noticia/{{noticehitted.id}}">{{noticehitted.title}}</a>
			</div>
		
	</div>
	<div class="noticiasmasvaloradas">
		MÁS POPULARES		
			<div class="noticiamini" data-ng-repeat="noticeliked in hc.newsmostliked">
				<div class="noticiamininummeneos">{{noticeliked.likes}}</div>
				<a class="noticiaminititulo" data-ng-href="#/noticia/{{noticeliked.id}}">{{noticeliked.title}}</a>
			</div>		
	</div>
</aside>
</main>